@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
body {
  color: white;
}

.home#home * {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 0, 0, 0.2);
          box-shadow: inset 0px 0px 0px 1px rgba(255, 0, 0, 0.2);
  background-color: rgba(255, 0, 0, 0.1);
}

.socials * {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(207, 141, 19, 0.2);
          box-shadow: inset 0px 0px 0px 1px rgba(207, 141, 19, 0.2);
  background-color: rgba(207, 141, 19, 0.1);
}

.nav *, .nav {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(16, 136, 0, 0.2);
          box-shadow: inset 0px 0px 0px 1px rgba(16, 136, 0, 0.2);
  background-color: rgba(16, 136, 0, 0.1);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
}

.home#home {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  background: #141419;
}
.home#home .logo {
  position: absolute;
  top: 40vh;
  left: 15vw;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "Rock Salt", cursive;
  font-size: 230px;
  -webkit-transform: rotate(-34deg);
          transform: rotate(-34deg);
}
.home#home .logo .img {
  -webkit-perspective: 20;
          perspective: 20;
}
.home#home .bio {
  position: absolute;
  top: 50vh;
  left: 75vw;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.home#home .bio h2 {
  position: relative;
  font-size: 32px;
  padding-left: 1vw;
  text-indent: -1vw;
}
.home#home .bio h3 {
  font-style: italic;
}
.home#home .bio .bio-text {
  width: 300px;
}
.home#home .email {
  position: absolute;
  top: 95vh;
  left: 85vw;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.home#home .click {
  position: absolute;
  top: 98vh;
  left: 50vw;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.nav {
  width: 100vw;
  top: 100vh;
  height: 30px;
}
.nav .nav-content {
  position: relative;
  left: 75vw;
}
.nav .mini-logo {
  position: absolute;
  font-family: "Rock Salt", cursive;
  left: 10vw;
  top: 5px;
}
.nav ul > li {
  display: inline-block;
  padding: 0 15px;
}
.nav.static {
  position: fixed;
  top: 0;
}

.content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #222;
  height: 1000vh;
}

.quote {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  top: 95vh;
  left: 1.5vw;
}

.socials {
  position: fixed;
  bottom: 20px;
  right: 50px;
}
.socials ul > li {
  margin: 10px 0;
}
.socials ul > li a {
  color: white;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #222;
}
/*# sourceMappingURL=main.css.map */