.nav {

  @extend %test3;

  width: 100vw;
  top: 100vh;

  // width: $navbar-width;
  height: 30px;
  //background-color : rgba(255,255,255,0.0);
  // filter: blur(4px);
  // background: radial-gradient(circle at 50% 50%,rgba(76, 0, 255, 1), rgba(76, 0, 255, 0));
  //backdrop-filter: blur(8px);

  .nav-content {
    position: relative;
    left: 75vw;
  }

  .mini-logo {
    position: absolute;
    font-family: 'Rock Salt', cursive;
    left: 10vw;
    top: 5px;
  }

  ul>li {
    display: inline-block;
    padding: 0 15px;
  }

  * {
    @extend %test3;
  }

  &.static {
    position: fixed;
    top: 0;
  }

}
