.socials {
  position: fixed;
  bottom: 20px;
  right: 50px;

  ul>li {
    //display: inline-block;
    margin: 10px 0;

    a {
      color: white;
      text-decoration: none;
    }
  }

  * {
    @extend %test2;
  }
}
