%test {
  box-shadow: inset 0px 0px 0px 1px rgba(255, 0, 0, 0.2);
  background-color: rgba(255, 0, 0, 0.1);
}

%test2 {
  box-shadow: inset 0px 0px 0px 1px rgba(207, 141, 19, 0.2);
  background-color: rgba(207, 141, 19, 0.1);
}

%test3 {
  box-shadow: inset 0px 0px 0px 1px rgba(16, 136, 0, 0.2);
  background-color: rgba(16, 136, 0, 0.1),
}

%test4 {
  box-shadow: inset 0px 0px 0px 1px rgba(0, 36, 199, 0.2);
  background-color: rgba(0, 36, 199, 0.1);
}
