%test {
    border: solid 1px rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.2);
}

%test2 {
    border: solid 1px rgb(207, 141, 19);
    background-color: rgba(207, 141, 19, 0.2);
}

%test3 {
    border: solid 1px rgb(16, 136, 0);
    background-color: rgba(16, 136, 0, 0.2),
}

%test4 {
    border: solid 1px rgb(0, 36, 199);
    background-color: rgba(0, 36, 199, 0.2);
}
