.home#home

    .logo
        |JL P

    .bio
        h2 Senior </br> Web Developer
        h3 e-Commerce Specialist
        h3.name Jean-Louis Parent
        p.bio-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, hic suscipit voluptatibus quod autem, praesentium alias iusto, illo est.

    .email
        p Contact:
        p jeanlouis.parent@gmail.com

    include _quote



    .click
        | Click Below