nav.nav.static#nav

    .mini-logo
        | JL P

    .nav-content
        ul
            each item in navItems
                li(class=item.active)
                    a(href=item.link, title=item.name)=item.name