
-
    var workItems = [
        {"id" : "1", "name":"Web4Agency"  , "workname" : "Web Developer"    ,  "type": "Internship"    , "Location" : "Geneva, CH" , "fromdate": "2013-04-02", "todate" : "2013-06-21", "desc" : "oejfwpejfpwjefpowjepfowjpefojwpeofjpwoejfpweojfpweojf"},
        {"id" : "2", "name":"Miliboo"     , "workname" : "Web Developer"    ,  "type": "Apprenticeship", "Location" : "Annecy, FR" , "fromdate": "2013-07-01", "todate" : "2014-06-21", "desc" : "oejfwpejfpwjefpowjepfowjpefojwpeofjpwoejfpweojfpweojf"},
        {"id" : "3", "name":"Be-Connected", "workname" : "Lead Developer"   ,  "type": "Employee"      , "Location" : "Rumilly, FR", "fromdate": "2015-06-01", "todate" : "2018-12-21", "desc" : "oejfwpejfpwjefpowjepfowjpefojwpeofjpwoejfpweojfpweojf"},
        {"id" : "4", "name":"AmerSports"  , "workname" : "Magento Developer",  "type": "Employee"      , "Location" : "Annecy, FR" , "fromdate": "2019-01-02", "todate" : "2019-10-01", "desc" : "oejfwpejfpwjefpowjepfowjpefojwpeofjpwoejfpweojfpweojf"},
        {"id" : "5", "name":"AmerSports"  , "workname" : "Squad lead"       ,  "type": "Employee"      , "Location" : "Annecy, FR" , "fromdate": "2019-10-01", "todate" : "current"   , "desc" : "oejfwpejfpwjefpowjepfowjpefojwpeofjpwoejfpweojfpweojf"}
    ]


-
    var socials = [
        {"name":"Twitter","short":"Tw","link":"https://www.twitter.com/@jlp_bsc","color":"#1da1f2"},
        {"name":"Facebook","short":"Fb","link":"https://www.facebook.com/jlparent4","color":"#3b5998"},
        {"name":"Instagram","short":"Is","link":"https://www.instagram.com/jlparent4","color":"#c32aa3"},
        {"name":"Linked'In","short":"Li","link":"https://www.linkedin.com/in/jean-louis-parent-00b59746","color":"#007bb5"},
        {"name":"Github","short":"Gh","link":"https://www.github.com","color": "#4267b2"}
    ]

-
    var navItems = [
        {"id" : "#about", "name":"Moi", "active":"active"},
        {"id" : "#work", "name":"Work"},
        {"id" : "#skills", "name":"Skills"},
        {"id" : "#scholl", "name":"Formation"},
        {"id" : "#contact", "name":"Contact"}
    ]
